@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code {
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: black;
    background: white;
  }
}

/*checkbox */
#filter label:hover input + span {
  background-color: #f1f1f1;
}
#filter label input:checked + span {
  background-color: rgb(107 72 255 / var(--tw-border-opacity));
  border: 1px solid rgb(107 72 255 / var(--tw-border-opacity));
}