.container {
  padding: 0 5rem;
}

/* Responsive container 1536px */
@media(min-width: 1536px) {
  .container {
    padding: 0 10rem;
  }
}

/*checkbox */
#filter label:hover input + span {
  background-color: #f1f1f1;
}
#filter label input:checked + span {
  background-color: rgb(107 72 255 / var(--tw-border-opacity));
  border: 1px solid rgb(107 72 255 / var(--tw-border-opacity));
}

/* --------------------------- */